<div id="wapper">

  <form [formGroup]="formacaoForm" (ngSubmit)="onSubmit()" class="form-container">
    <h2> Cadastro <span> formação</span></h2>
    <div class="form-group">
      <label for="instituicao">Instituição</label>
      <input id="instituicao" formControlName="instituicao" type="text"/>
    </div>
    <div class="form-group">
      <label for="curso">Curso</label>
      <input id="curso" formControlName="curso" type="text"/>
    </div>
    <div class="form-group">
      <label for="grau">Grau</label>
      <input id="grau" formControlName="grau" type="text"/>
    </div>
    <div class="form-group">
      <label for="dataDeInicio">Data de Início</label>
      <input id="dataDeInicio" formControlName="dataDeInicio" type="date"/>
    </div>
    <div class="form-group">
      <label for="dataDeTermino">Data de Término</label>
      <input id="dataDeTermino" formControlName="dataDeTermino" type="date"/>
    </div>
    <button type="submit" [disabled]="formacaoForm.invalid">Enviar</button>
  </form>
</div>
